.component .check {
  display: flex;
  align-items: center;
  width: 100%;
}

.component .check .pi {
  font-size: large;
}

.component .check .pi-check {
  color: var(--success-color);
}

.component .check .pi-times {
  color: var(--danger-color);
}

.component .check .text {
  padding-left: var(--spacing-less);
}
